{% extends "Layouts/base.html" %}

{% load static %}

{% block title %} task1 add_student{% endblock title %}

{% block stylesheets %}
    <style>
        table {
            width: 20%;
            margin: 20px auto;
            font-size: 1em;
            font-family: Times New Roman;
            text-align: center;
        }

        table, th, td {
            border: 1px solid black;
        }

        th {
            background-color: pink;
            padding: 10px;
            font-weight: bold;
        }

        td {
            padding: 8px;
        }

        caption {
            font-size: 1.2em;
            margin: 10px;
            text-align: center;
            font-weight: bold;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

{% if messages %} <!-- معناتها اذا كان في اي رسالة تطلعي كل الرسال فقط في  -->
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method = "POST">
     {% csrf_token %}
    {{form.as_p}}
<button type = "submit">Add</button>
</form>
{% endblock content %}