{% extends "Layouts/base.html" %}

{% load static %}

{% block title %} task3 lab9_listbook {% endblock title %}

{% block stylesheets %}
    <style>
        table {
            width: 20%;
            margin: 20px auto;
            font-size: 1em;
            font-family: Times New Roman;
            text-align: center;
        }

        table, th, td {
            border: 1px solid black;
        }

        th {
            background-color: pink;
            padding: 10px;
            font-weight: bold;
        }

        td {
            padding: 8px;
        }

        caption {
            font-size: 1.2em;
            margin: 10px;
            text-align: center;
            font-weight: bold;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
<form method = "POST">
     {% csrf_token %}
     <input name="title" value="{{book.title}}" required><br><!--ليش كتبنا value لانه قيمة اساسة موجود ما احتاج اضيفها -->
     <input name="author" value="{{book.author}}" required><br><!-- لانه القيمة اخذنها من متغر book -->
<button type = "submit">Update</button>
</form>
{% endblock content %}