{% extends "Layouts/base.html" %}

{% load static %}

{% block title %} task1 lab9_listbook2 {% endblock title %}

{% block stylesheets %}
    <style>
        table {
            width: 20%;
            margin: 20px auto;
            font-size: 1em;
            font-family: Times New Roman;
            text-align: center;
        }

        table, th, td {
            border: 1px solid black;
        }

        th {
            background-color: pink;
            padding: 10px;
            font-weight: bold;
        }

        td {
            padding: 8px;
        }

        caption {
            font-size: 1.2em;
            margin: 10px;
            text-align: center;
            font-weight: bold;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
<a href="{% url 'add_student2' %}">Add new student</a> <!-- هنا بس اضيف كتاب مع يحتاج حدد  هنا اضيف شكل عام id -->
<!-- هنا لما يضغط يروح لي url ثمن من url الي تشير الى دالت add الموجود في viwe ثمن دالة viwe تسوي لطلب لي صفحة حقت add -->
<table>
    <tr>
        <th>name</th>
        <th>Age </th>
        <th>Address</th>
        <th>edit </th>
        <th>delete</th>
    </tr>
    {% for std in Students%}<!-- هذا المتغير الي سويناه في viwe -->
    <tr>
        <td>{{std.name}}</td>
        <td>{{std.age }}</td>
        <td>
            {% for add in std.address.all %} <!--يمر على كل عنوان مرتبط بالطالب.سوي for لوب-->
                {{ add.city }}<!--يطبع اسم المدينة مهمه!!--> 
            {% endfor %}
        </td>
        <td><a href="{% url 'edit_student2' std.id%}">edit this student</a></td><!-- هنا لازم  هنا عدل بشكل خاص book.id  احدد ل لانه اغير  على نفس كتاب الي يحتوي  -->
        <td><a href="{% url 'delete_student2' std.id%}">delete this student</a></td><!--هنا لازم احدد لاني راح احذف على الكتاب الي يحتوي على نفس Id   -->
    </tr>
    {%endfor%}
</table>

{% endblock content %}



   