{% extends "layouts/base2.html" %}

{%block content%}
<h2>The Best Features of the internet</h2>
<ul>
  <li>you can meet new people from countries around the world </li>
  <li> you have access to new media as it becames public:
    <ul>
    <li> new game </li>
    <li> new application 
        <ol> 
          <li> for business</li> 
          <li> for pleasure </li>  
        </ol>
    </li>
    <li> around the clock new </li>
    <li> search engings </li>
    <li> shopping</li>
    <li> programming 
        <ol>
            <li>XML</li>
            <li>jave</li>
            <li>html 5</li>
            <li>javascript</li>
            <li>new languages</li>
        </ol>
    </li>
    </ul> 
  </li>
  <li> linke</li>
  <li>keeping in touch with old frinds</li>
  <li>it is the technology of the futur!</li>  
</ul>

{% endblock content%}