{% extends "Layouts/base.html" %}

{% load static %}

{% block title %} task5 Page {% endblock title %}

{% block stylesheets %}
    <style>
        table {
            width: 20%;
            margin: 20px auto;
            font-size: 1em;
            font-family: Times New Roman;
            text-align: center;
        }

        table, th, td {
            border: 1px solid black;
        }

        th {
            background-color: pink;
            padding: 10px;
            font-weight: bold;
        }

        td {
            padding: 8px;
        }

        caption {
            font-size: 1.2em;
            margin: 10px;
            text-align: center;
            font-weight: bold;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
<h1>Task5</h1>
<table>
<tr>
    <th> count of all the book</th>
    <th> total the price</th>
    <th> avrage price</th>
    <th> Min price</th>
    <th> max price</th>
</tr>
<tr>
    <td> {{quary.count}} </td>
    <td> {{quary.total_price}} </td>
    <td> {{quary.average_price}} </td>
    <td> {{quary.min_price}} </td>
    <td> {{quary.max_price}} </td> 
</tr>
</table>

<hr>
{% endblock content %}